fastapi==0.115.11
dependency-injector==4.39.0
starlette==0.46.1
pydantic==2.9.2
pydantic-settings==2.8.1
python-dotenv==1.0.1

# logger
loguru==0.7.3

# odm mongodb
beanie==1.27.0

# serializable
fastapi-camelcase==2.0.0